<html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<header>

       <div class="top-menu">
         <ul>
             <li><a href="index">Главная</a></li>
             <li><a href="download_id" >Добавить ID</a></li>
             <li><a href="download_tokens">Добавить токен</a></li>
             <li><a href="stats">Статистика</a></li>
         </ul>
       </div>
</header>
</div>

<body>
<div class="imgd" align="center">
<img src="./static/Diagram.png">
</div>
</body>
</html>
