<html>

<head>
     <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<header>

       <div class="top-menu">
         <ul>
             <li><a href="index">Главная</a></li>
             <li><a href="download_id" >Добавить ID</a></li>
             <li><a href="download_tokens">Добавить токен</a></li>
             <li><a href="stats">Статистика</a></li>
         </ul>
       </div>
</header>
</div>

<body>
<div class="graph">
<center>
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(151,187,205,0.6)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");

       steps = 10
       max = {{max}}

     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );

    </script>
  </center>
</div>
</body>
</html>